<div class="search-form">
  <input type="text" id="search-input" placeholder="Search content...">
  <button type="button" id="search-submit">
    <i class="fas fa-search"></i>
  </button>
</div>
<div id="search-results" class="search-results">
  <!-- Search results will be displayed here -->
</div>
