<nav class="site-navigation">
  <ul class="nav-menu">
    <li class="nav-item">
      <a href="/az/" class="nav-link">Ana Səhifə</a>
    </li>
    <li class="nav-item">
      <a href="/az/qrammatika/" class="nav-link">Qrammatika</a>
    </li>
    <li class="nav-item">
      <a href="/az/hekayeler/" class="nav-link">Hekayələr</a>
    </li>
    <li class="nav-item">
      <a href="/az/luget/" class="nav-link">Lüğət</a>
    </li>

    <li class="nav-item">
      <a href="/az/haqqinda/" class="nav-link">Haqqında</a>
    </li>
    <li class="nav-item">
      <a href="/az/elaqe/" class="nav-link">Əlaqə</a>
    </li>
  </ul>
</nav>