---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <!-- Homepage -->
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  
  <!-- Main Section Pages -->
  <url>
    <loc>{{ site.url }}/grammar/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/stories/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/vocabulary/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  
  <!-- Grammar Level Overview Pages -->
  <url>
    <loc>{{ site.url }}/grammar/beginner/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/intermediate/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/advanced/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <!-- Stories Level Overview Pages -->
  <url>
    <loc>{{ site.url }}/stories/beginner/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/stories/intermediate/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/stories/advanced/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <!-- Main Pages -->
  <url>
    <loc>{{ site.url }}/about/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/contact/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  
  <!-- Grammar Section Pages -->
  <url>
    <loc>{{ site.url }}/grammar/beginner/articles/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/beginner/plural-nouns/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/beginner/possessive-adjectives/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/beginner/present-simple/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/beginner/present-continuous/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/beginner/subject-pronouns/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Beginner Grammar Exercise Pages -->
  <url>
    <loc>{{ site.url }}/grammar/beginner/articles-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/beginner/plural-nouns-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/beginner/possessive-adjectives-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/beginner/present-simple-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/beginner/present-continuous-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/beginner/subject-pronouns-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <!-- Grammar Intermediate -->
  <url>
    <loc>{{ site.url }}/grammar/intermediate/conditionals-1-2/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/intermediate/modal-verbs/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/intermediate/passive-voice/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/intermediate/past-perfect/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/intermediate/relative-clauses/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/intermediate/reported-speech/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Intermediate Grammar Exercise Pages -->
  <url>
    <loc>{{ site.url }}/grammar/intermediate/conditionals-1-2-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/intermediate/modal-verbs-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/intermediate/passive-voice-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/intermediate/past-perfect-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/intermediate/relative-clauses-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/intermediate/reported-speech-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <!-- Grammar Advanced -->
  <url>
    <loc>{{ site.url }}/grammar/advanced/cleft-sentences/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/advanced/conditionals-3-mixed/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/advanced/ellipsis-substitution/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/advanced/inversion/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/advanced/participle-clauses/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/advanced/subjunctive/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Advanced Grammar Exercise Pages -->
  <url>
    <loc>{{ site.url }}/grammar/advanced/cleft-sentences-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/advanced/conditionals-3-mixed-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/advanced/ellipsis-substitution-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/advanced/inversion-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/advanced/participle-clauses-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/grammar/advanced/subjunctive-exercises/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <!-- Stories Beginner -->
  <url>
    <loc>{{ site.url }}/stories/beginner/a-day-at-school/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/stories/beginner/my-daily-routine/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/stories/beginner/shopping-at-the-store/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <!-- Stories Intermediate -->
  <url>
    <loc>{{ site.url }}/stories/intermediate/a-day-at-the-market/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/stories/intermediate/the-job-interview/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/stories/intermediate/the-lost-key/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/stories/intermediate/the-unexpected-friend/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/stories/intermediate/little-red-riding-hood/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <!-- Stories Advanced -->
  <url>
    <loc>{{ site.url }}/stories/advanced/climate-change-and-the-last-forest/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/stories/advanced/the-digital-nomads-dilemma/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/stories/advanced/the-ethics-of-artificial-intelligence/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <!-- Vocabulary Sections -->
  <url>
    <loc>{{ site.url }}/vocabulary/beginner/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/vocabulary/intermediate/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/vocabulary/advanced/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Vocabulary Beginner Pages -->
  {% for i in range(1, 10) -%}
  <url>
    <loc>{{ site.url }}/vocabulary/beginner/page-{{ i }}/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

  <!-- Vocabulary Intermediate Pages -->
  {% for i in range(1, 16) -%}
  <url>
    <loc>{{ site.url }}/vocabulary/intermediate/page-{{ i }}/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

  <!-- Vocabulary Advanced Pages -->
  {% for i in range(1, 13) -%}
  <url>
    <loc>{{ site.url }}/vocabulary/advanced/page-{{ i }}/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}
  
  <!-- Azerbaijani Version -->
  <url>
    <loc>{{ site.url }}/az/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/az/haqqinda/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/az/elaqe/</loc>
    <lastmod>2025-01-28T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>

  <!-- Azerbaijani Main Sections -->
  <url>
    <loc>{{ site.url }}/az/qrammatika/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/az/hekayeler/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/az/luget/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Azerbaijani Level Overview Pages -->
  <url>
    <loc>{{ site.url }}/az/qrammatika/baslangic/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/az/qrammatika/orta/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/az/qrammatika/ireli/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>

  <!-- Azerbaijani Vocabulary Pages -->
  <url>
    <loc>{{ site.url }}/az/luget/baslangic/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/az/luget/orta/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>{{ site.url }}/az/luget/ireli/</loc>
    <lastmod>2025-01-06T12:00:00.000Z</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
</urlset>